<?xml version="1.0" encoding="UTF-8"?>
<suite parallel= "false" thread-count="5" name="Suite">
<!--suite parallel="tests" thread-count="5" name="Suite"-->

	<!--test thread-count="5" name="ChromeTest">
		<parameter name="os" value="Windows" />
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="demoqa1.TC_001_AccountRegistrationTest"/>
			<class name="demoqa1.TC_002_LoginTest"/>
    	</classes>
  	</test--> <!-- Test -->
  	
  	<!--test thread-count="5" name="EdgeTest">
		<parameter name="os" value="Windows" />
		<parameter name="browser" value="edge" />
		<classes>
			<class name="demoqa1.TC_001_AccountRegistrationTest"/>
			<class name="demoqa1.TC_002_LoginTest"/>
    	</classes>
  	</test> --> <!-- Test -->
  	
  	<test thread-count="5" name="ChromeTest">
		<parameter name="os" value="Windows" />
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="demoqa1.Driver"/>
    	</classes>
  	</test> <!-- Test -->
  	
  	<test thread-count="5" name="EdgeTest">
		<parameter name="os" value="Windows" />
		<parameter name="browser" value="edge" />
		<classes>
			<class name="demoqa1.Driver"/>
    	</classes>
  	</test> <!-- Test -->
  	
</suite> <!-- Suite -->
